<section class="about-index">
  <header class="page-header">
      <h1>About</h1>
  </header>

  <div class="intro">
    <p>
      We are a fun little store!
    </p>
    <p>
      We want to help you find plants you love.
    </p>
    <p>
      Make sure to check out all of our products!
    </p>
  </div>

</section>